.view-header {
    writing-mode: horizontal-tb;}

.markdown-preview-view p, .markdown-preview-view ul, .markdown-preview-view ol, .markdown-preview-view blockquote {
    margin-bottom: 1rem;
    position: relative;
}

.nav-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;}

.view-header-title-container {
    width: 40px;
    height: unset;
    padding-left: unset;
    padding-top: 4px;
}

.view-header {
display:none
}




